ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #7d8792;
    font-size: 1.3rem;
    cursor: pointer;
    transition-duration: 2s;
}

a:hover {
    color: #FFFF00;
    transition-duration: 1.5s;
}